.hStack {
  display: flex;
  &.center {
    justify-content: center;
    align-items: center;
  }
}
.vStack {
  display: flex;
  direction: column;
  &.center {
    justify-content: center;
    align-items: center;
  }
}

.zStack {
  position: relative;
  > * {
    position: absolute;
    top: 0;
    left: 0;
  }
  .offset {
    left: 100px;
    right: 100px;
  }
  .index {
    z-index: 1;
  }
}

.Fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.size{
    width: 100px;
    height: 100px;
    &.min {
        width: 100px;
        height: 100px;
    }
    &.max {
        width: 100px;
        height: 100px;
    }
}

.border {
    border-width: 100px;
    border-style: groove;
    border-color: rgb(); // rgba(), hsl()
    border-radius: 10px;
}

.margin {

}

.padding {

}


// compose